body {
    background: #a1a1a1;
    text-align: center;
    padding:0pxs;
}
#main {
    width: 1000px;
    height: 600px;
    margin: auto;
}
h3{
    color:#000061;
    font-family: monospace; 
}
p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    font-size: 24px;
    display: block;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 40px;
    color: #000024;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    display: block;
    text-transform:uppercase;
}
ul{
    padding:25px, opx, 25px, 0px;
    text-align: center;
    font-size: 20px;
    text-transform:lowercase;
    display: block;
}
#ACADAMY-info{
    text-align: center;
    padding: 0px;
    color:black;
    display: block;
}
.p{
    padding:0px;
    text-align: justify;
    text-transform: lowercase;
}